* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
}
.d-flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}

.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.d-inline-block {
  display: inline-block;
}

.btn {
  padding: 7px 15px;
  border: 3px solid;
  border-radius: 8px;
  cursor: pointer;
  transition: all 350ms;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 90%;
  margin: 1rem auto;
}
.product {
  width: 23%;
  height: 400px;
  text-align: center;
  margin: 1rem 0;
}
.product img {
  width: 80%;
  height: 60%;
  object-fit: contain;
}
.product img,
.product h3,
.product p {
  margin-bottom: 1rem;
}
.product h3 {
  font-size: 16px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 3rem;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.4);
  margin-bottom: 2rem;
}
nav ul {
  list-style-type: none;
  display: flex;
}
nav ul a {
  text-decoration: none;
  padding: 0.25rem;
  margin: 0 0.25rem;
}
nav ul a.active {
  font-weight: 700;
}
.container {
  padding: 2rem 3rem;
}
.container > h3 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.container p {
  margin-bottom: 0.5rem;
  line-height: 27px;
  color: #121212;
}
.container form {
  width: 50vw;
  margin: 0 auto;
}
.container form input,
.container form textarea,
.container form button {
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 12px 20px;
}
.container form button {
  font-size: 16px;
  text-transform: uppercase;
}
.container form ::placeholder {
  font-size: 14px;
}

.btn-secondary {
  background-color: rgb(161 98 7);
  border-color: rgb(161 98 7);
  color: #fff;
}
.btn-primary {
  background-color: rgb(21 128 61);
  border-color: rgb(21 128 61);
  color: #fff;
}
.btn:hover {
  background-color: #fff;
  color: #000;
}

.singleProduct .left,
.cart .left {
  width: 30%;
}
.singleProduct .left img {
  max-height: 300px;
  min-height: 80px;
  object-fit: contain;
}
.singleProduct .right,
.cart .right {
  width: 70%;
  padding-left: 2rem;
}

.cart {
  width: 90%;
  margin: 0 auto;
}
.cart-items-div {
  width: 75%;
  margin-right: 4%;
}
.cart-total-div {
  width: 20%;
}
.cart .left img {
  max-width: 100px;
}
